@charset "UTF-8";

body {
    background-image: linear-gradient(to bottom, rgb(191, 0, 255), rgb(111, 0, 255));
    font: normal 15pt Arial;
    height: 100vh;
}

header {
    color: white;
    text-align: center;
}

main {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.33);
}

main input#button  {
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    width: 100px;
    height: 35px;
    font-weight: bold;
    font-size: .9em;
}

main img {
    padding-top: 30px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: .9em
}